* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background: #f4f4f4;
  color: #333;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-container {
  background-color: #fff;
  padding: 2rem;
  width: 100%;
  max-width: 400px;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.login-form h2 {
  margin-bottom: 1.5rem;
  color: #085c94;
  margin-top: 1.2rem;
}

.input-group {
  margin-bottom: 1rem;
  position: relative;
}

.input-group label {
  display: block;
  margin-bottom: 0.3rem;
  font-weight: 600;
}

.input-group input {
  width: 100%;
  padding: 0.8rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.password-group {
  position: relative;
}

.toggle-password {
  position: absolute;
  right: 12px;
  top: 65%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 1.2rem;
  user-select: none;
}

.btn {
  width: 100%;
  background-color: #085c94;
  color: #fff;
  padding: 0.9rem;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #111827;
}

.signup-link {
  text-align: center;
  margin-top: 1rem;
}

.signup-link a {
  color: #085c94;
  text-decoration: none;
  font-weight: 600;
}

.signup-link a:hover {
  text-decoration: underline;
}

.forgottenpassword-link{
  text-align: center;
  margin-top: 0.5rem;
}

.login-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.5rem;
}

.home-button {
  text-decoration: none;
  background-color: transparent;
  border: 1px solid #085c94;
  padding: 6px 12px;
  border-radius: 4px;
  transition: background-color 0.2s, color 0.2s;
}

.home-button:hover {
  background-color: #085c94;
}

@media (max-width:800px) {
  .login-form h2{
    font-size: 20px;
  }
}